<div class="callout callout-warning mb-4">
    <h5 class="fw-bold">Beta Phase</h5>
    <p>The panel is still in the beta phase as it was rushed, so it may be lacking in some areas. I will continue to improve it over time. If you find any bugs, please report them to the developer.</p>
</div>